#directions_panel {
	width: 25%;
	background-color: #DDD;
	display: inline-block;
	vertical-align: top;
	margin-left: 5%;
}

#map_canvas {
	width: 30%;
	height: 400px;
	display: inline-block;
	vertical-align: top;
	margin-left: 5%;
}

#history {
	font-family: "Courier New", Courier, monospace;
	display: inline-block;
	vertical-align: top;
	background-color: gainsboro;
	width: 15%;
	text-align: center;
	color: darkblue;
	margin-left: 10%
}

h1 {
	font-family: "Courier New", Courier, monospace;
}